<!doctype html>
<html>
  <head>
    <title>Birthday Wish</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>🎉 Happy Birthday 🎉</h1>

    <h2>
      I truly believe all your hard work will pay off. I hope everything goes
      smoothly and you achieve all the success you’re working towards. You
      deserve every good thing that comes your way.Take care of yourself and
      look after your health.🎂🎈🎁
    </h2>
  </body>
</html>
